<% if (role === 'user') { %> <% issues.forEach(function(issue){ %>
<tr>
  <td class="border px-4 py-2"><%= issue.title %></td>
  <td class="border px-4 py-2"><%= issue.desc %></td>
  <td class="border px-4 py-2"><%= issue.createdAt %></td>
  <td class="border px-4 py-2">
    <%= (issue.completed ===1)? 'Pending' : 'Completed' %>
  </td>
  <td class="border px-4 py-2">
    <a href="#" class="ml-2 trash-icon" onClick="deleteTodo('<%=issue.id%>')">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#000000"
      >
        <path
          d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
        />
      </svg>
    </a>
  </td>
</tr>
<% }) %> <% } else { %> <% allIssues.forEach(function(issue){ %>
<tr>
  <!-- Add the missing <tr> tag here -->
  <td class="border px-4 py-2"><%= issue.id %></td>
  <td class="border px-4 py-2"><%= issue.title %></td>
  <td class="border px-4 py-2"><%= issue.desc %></td>
  <td class="border px-4 py-2"><%= issue.category %></td>
  <td class="border px-4 py-2"><%= issue.department %></td>
  <td class="border px-4 py-2"><%= issue.urgency %></td>
</tr>
<!-- Close the <tr> tag here -->
<% }) %> <% } %>
